body{
	margin: 0px;
	padding: 0px;
	font-family: 'Kumbh Sans';
	font-size: 12px;
	width: 1440px;
	background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
	background-attachment: fixed;
}

.container-all{
	background-color: hsl(0, 0%, 100%);
	display: flex;
	margin: 130px;
	margin-left: 20%;
	border-radius: 30px;
	max-height: 490px;
	max-width: 1000px;
	overflow: hidden;
}

#sombras{
	position: relative;
	transform: translate(-590px, -300px);
}

#desktop{
	display: block;
	padding: 50px;
	height: 400px;
	width: auto;
	transform: translate(-1090px, 12px);
}

#caixa{
	position: absolute;
	transform: translate(-93px, 205px);
}

.container-txt{
	display: block;
	


	
}


.attribution { font-size: 13px; text-align: center; margin-top: -100px;}
.attribution a { color: hsl(228, 45%, 100%);}