body{
	margin: 0px;
	padding: 0px;
	font-family: 'Kumbh Sans';
	font-size: 12px;
	width: 1440px;
	background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
	background-attachment: fixed;
}

.container-all{
	background-color: hsl(0, 0%, 100%);
	display: inline-flex;
	border-radius: 30px;
	margin: 100px;
	margin-left: 280px;
	max-height: 500px;
	overflow: hidden;
}

#desktop{
	display: block;
	padding: 50px;
	height: 400px;
	width: 500px;
	transform: translate(-130px, 17px);
}

#caixa{
	position: absolute;
	transform: translate(-93px, 205px);
}

#sombras{
	position: relative;
	transform: translate(-1200px, -290px);
}

.container-txt{
	height: 400px;
	width: 400px;
	padding: 50px;

	display: block;
	
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }